data.json
.ruby-version
*.save*
data/News/news.ltsv
node_modules
app.nw
Gear.exe
Gear.app/Contents/Resources/app.nw
Gear.zip
app/images/loading.gif
app/javascripts
app/build
javascripts/gear.js
*.log
*~
*#*
