data.json
.ruby-version
*.save*
data/News/news.ltsv
node_modules
app.nw
Gear.exe
Gear.app/Contents/Resources/app.nw
Gear.zip
app/javascripts/gear.coffee
app/javascripts/gear.js
app/images/loading.gif
javascripts/gear.js
*.log
*~
*#*
