html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}

body {
	/* background-color: #ddddff; */
	background-color: #ffffff;
}

span {
	font-size: 18pt;
}

.line {
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    top: 0pt;
    left: 0pt;
    overflow: hidden;
    scrolling: no;
    allowtransparency: false;
}

#image {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-pozsition: center center;
}

#menu {
    position: absolute;
    top: 0pt;
    left: 200pt;
    height: 100%;
    width: 50%;
}

#panel {
    position: absolute;
    top: 0pt;
    left: 0pt;
    height: 100%;
    width: 100%;
}
